<%= javascript_include_tag "http://code.highcharts.com/stock/highstock.js" %>
<div class="row fluid">
  <div class="span8">
    <div id="container" style="height:540px"></div>
  </div>

  <div class="span4">
    <%= paginate @results.table %>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th><%= params[:group_type] %></th>
            <th>Total</th>
          </tr>
       </thead>
       <tbody>
        <% @results.table.each do |record| %>
        <tr>
          <td><%= record[0] %></td>
          <td><%= record[1] %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    <%= page_entries_info @results.table %>
  </div>
</div>

<%= render 'search' %>

<script>
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Leading Indicators'
            },
            subtitle: {
                text: 'Source: Rbandits::Trdopt'
            },
            xAxis: {
                categories: <%= raw @results.cats[0..5] %>,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true,
                        style: {
                          color: 'black'
                        }
                    }
                },
                series: {
                  //stacking: 'normal',
                  borderWidth: 1,
                  pointPadding: 0,
                  groupPadding: 0
                }
            },
            legend: {
                enabled: false,
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -100,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{ name: "Instruments", data: <%= raw @results.dats[0..5] %>}]
        });
    });
</script>