<%= javascript_include_tag "http://code.highcharts.com/stock/highstock.js" %>

<div class="row fluid">
  <div class="span8">
    <div id="container" style="height:555px"></div>
  </div>

  <div class="span4">
    <%= render 'table' %>
  </div>

  <div class="span4">
    <%= paginate @results %>
    <%= page_entries_info @results %>
  </div>
</div>

<%= render 'horizon_bar_graph' %>