<!DOCTYPE html>
<html>
<head>
  <title>Scalp Trade: Web Analytics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ANALYTICS", '#', id: "logo" %>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right login">
          <% if !current_user %>
            <%= link_to "Login", new_user_session_path %> | 
            <%= link_to "Register", new_user_registration_path %> | 
            <%= link_to "Google Login", user_omniauth_authorize_path(:google_oauth2) %>
          <% else %>
            <%= current_user.email %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% end %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </p>
        <ul class="nav">
          <li><%= link_to "Home", root_path, id: "active" %></li>
          <li><%= link_to "Underlying", underlying_path %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </div><!-- /nav-collapse collapse -->
  </div><!-- /navbar-inner -->
</header>
  
<div class="container-fluid">
<%= yield %>
</div>

</body>
</html>
