<!DOCTYPE html>
<html>
<head>
  <title>Scalp Trade: Web Analytics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ANALYTICS", '#', id: "logo" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to "Home", root_path, id: "active" %></li>
          <li><%= link_to "Underlying", underlying_path %></li>
          <li><%= link_to "Help",    '#' %></li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <% if !current_user %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-bg">
                <li><%= render 'devise/sessions/go' %></li>
              </ul>
            <% else %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                UserName <b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-bg">
                <li><%= link_to "User Info", "#" %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% end %>

                        

          </li>
        </ul>
      </div><!-- /nav-collapse collapse -->
  </div><!-- /navbar-inner -->
</header>

<div class="container-fluid">
<%= yield %>
</div>

</body>
</html>
